# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache

# Ignorar archivos de reporte
reports

# Ignorar archivos de rastreo kraken
.kraken

#Ignora carpetas de screenshots
screenshots

#Ignora archivos de imágenes
*.png